# Flutter
.dart_tool/
.packages
build/
*.iml
.metadata

# IDE
.idea/
*.swp
.vscode/

# macOS
.DS_Store
*.xcuserdata

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/

# Secrets
*.jks
*.keystore
*.env
.env.*
